@charset "utf-8";
/* CSS Document */
#recomendaciones{
	background: #C6C9E4;
}

#recomendaciones .contenedor{
	display: flex;
	justify-content: center;
	background: #C6C9E4;
}

#recomendaciones article{
	margin: 25px;
}

#recomendaciones img{
	max-width: 400px;
	height: 268px;
}

#recomendaciones h3{
	text-align: center;
}
#recomendaciones h4{
	text-align: center;
}

