@import url(css/banner.css);
@import url("css/recomendaciones.css");
title{background-color: red-200}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
	font-family: georgia, times;
	font-size: 1rem;
	line-height: 1.2em;
}

p{
    margin-bottom: 1.2em;
}

.container p{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.menu{
    list-style: inherit;
    padding: 0;
    background-color: #615d5f;
    margin: auto;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a:hover{
    background: #ECAEAE;
}

.menu li div.Cerrar_Sesion{
    position: fixed;
    background-color: #FF0000;
    width: 10%;
    height: 48px;
    left: 1241px;
    top: 30px;
}

.menu li div.Cerrar_Sesion a:hover{
	background: #FFF000;
}



div.logo{
	list-style: none;
    padding: 0;
    background-color: #615d5f;
    margin: auto;
}

.menu li div.logo{
	text-decoration: none;
    color: white;
    padding: 0;
    display: block;
}

.menu li div.logo a:hover{
	background: #37abc2;
}

.main{
	padding-top: 10rem;
}

.footer{
    background: #f2f2f2;
    padding: 1rem 0;
    text-align: center;
}

section{
    width: 100%;
    margin-bottom: 25px;
}
